@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #22D4FD;
}

* {
    margin: 0;
    border: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

 .nome_azul {    
    color: var(--cor-terciaria);
}
.conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4% 15% 15% 15%;
}
.conteudo__texto {
     width: 38.4375rem;
     display: flex;
     flex-direction: column;
     gap: 2.5rem;
}
.conteudo__texto__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}
.conteudo__texto__paragrafo {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.conteudo__texto__paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}
ul.conteudo__texto__paragrafo {
    padding: 0%;
}
.conteudo__botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.conteudo__botoes__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.conteudo__botoes__botao {
    /* background-color: #22d4fd; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0.125rem solid var(--cor-terciaria);
    text-align: center;
    width: 23.625rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1.3438rem 0rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}
.conteudo__botoes__botao:hover {
    background-color: #272727;
    width: 25rem;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1.4375rem 0rem;
}
.cabecalho {
    padding: 2% 0% 2% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 6.25rem;
}
.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 37.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: var(--cor-terciaria);
    transform: scale(1.13);
}

.apresentacao__conteudo__texto {
    text-decoration: none;
    color: var(--cor-terciaria);
}
