@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    border: 0;
}
body {
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

 .nome_azul {    
    color: #22d4fd;
}
.conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4% 15% 15% 15%;
}
.conteudo__texto {
     width: 615px;
     display: flex;
     flex-direction: column;
     gap: 40px;
}
.conteudo__texto__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.conteudo__texto__paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.conteudo__texto__paragrafo a{
    text-decoration: none;
    color: #22D4FD;
}
ul.conteudo__texto__paragrafo {
    padding: 0%;
}
.conteudo__botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.conteudo__botoes__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.conteudo__botoes__botao {
    /* background-color: #22d4fd; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22d4fd;
    text-align: center;
    width: 378px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 200;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}
.conteudo__botoes__botao:hover {
    background-color: #272727;
    width: 400px;
}
.footer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #22d4fd;
    padding: 23px 0px;
}
.cabecalho {
    padding: 2% 0% 2% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 100px;
}
.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600px;
    color: #22d4fd;
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: #22d4fd;
    transform: scale(1.13);
}

.apresentacao__conteudo__texto {
    text-decoration: none;
    color: #22D4FD;
}
